.name {
    display: inline-block;
    width: 100px;
    padding: 0 10px;
}
.priority {
    display: inline-block;
    width: 100px;
    font-weight: 600;
}
.low {
    color: green;
}
.middle {
    color: orange;
}
.high {
    color: red;
}
