.superInput {
    font-size: 16px;
    padding: 10px 10px;
    width: 200px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    /*box-shadow: 5px 5px  8px blue;*/
}
.superInput:focus {
    outline: none;
}

.errorInput {
    box-shadow: 5px 5px  8px red;
}

.error {
    color: red;
}